//

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3rem;
    padding: 1rem;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  a {
    background-color: var(--var-cl-pr);
    color: #fff;
    padding: 1rem;
    width: fit-content;
    font-size: 20px !important;
    border-radius: 20px;
  }
}
